.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
   

}
.heading {
    height: 12vh;
    width: 35vw;
    text-align: center;
}
.dark {
    background-color:black ;
    color: white;
    border-radius: 15px;
    border-color: 40vh;
    border: 5px solid red;
}

.light {
    background-color:white ;
    color: black;
    border-radius: 15px;
    border-color: 40vh;
    border: 5px solid red;
}
.button {
    text-align: center;
    margin-left:15vw;
    font-size: 25px;
    margin-bottom: 15px;
    border: 3px solid grey;
    border-radius: 10px;
}